#mainTitle {

    color: black;
    text-align: center;
    font-size: 40px;
}

.boxElement{
  width: 90%;
  padding-left: 2%;
  padding-right:2%;
  background: green;
  text-align: center;
}

.listElements {
    font-size: 25px;
}

.moreInfo {
    font-size: 25px;
}

#aboutButton {
    text-align: right;
}

.chapters {
    font-size: 35px
}
