.textAlignNoColor {
    text-align: center;
}

body {
    background-color: #f0ebcc;
}

.endLine {
    border-bottom: 2px solid black;
}

.title {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
