h1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

h2 {
  border-bottom:2px dotted black;
}

body {
    background-color: #f0ebcc;
}

.endLine {
    border-bottom: 2px solid black;
}
